//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9
//Part Number: GW5AST-LV138FPG676AC1/I0
//Device: GW5AST-138
//Device Version: B
//Created Time: Wed 10 16 14:27:59 2024

IO_LOC "io_ddr3_O_ddr_ba[2]" K3;
IO_PORT "io_ddr3_O_ddr_ba[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_O_ddr_ba[1]" L5;
IO_PORT "io_ddr3_O_ddr_ba[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_O_ddr_ba[0]" M4;
IO_PORT "io_ddr3_O_ddr_ba[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_O_ddr_addr[12]" N3;
IO_PORT "io_ddr3_O_ddr_addr[12]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_O_ddr_addr[11]" P4;
IO_PORT "io_ddr3_O_ddr_addr[11]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_O_ddr_addr[10]" M1;
IO_PORT "io_ddr3_O_ddr_addr[10]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_O_ddr_addr[9]" T3;
IO_PORT "io_ddr3_O_ddr_addr[9]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_O_ddr_addr[8]" T4;
IO_PORT "io_ddr3_O_ddr_addr[8]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_O_ddr_addr[7]" U1;
IO_PORT "io_ddr3_O_ddr_addr[7]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_O_ddr_addr[6]" N4;
IO_PORT "io_ddr3_O_ddr_addr[6]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_O_ddr_addr[5]" T2;
IO_PORT "io_ddr3_O_ddr_addr[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_O_ddr_addr[4]" P1;
IO_PORT "io_ddr3_O_ddr_addr[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_O_ddr_addr[3]" N2;
IO_PORT "io_ddr3_O_ddr_addr[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_O_ddr_addr[2]" R2;
IO_PORT "io_ddr3_O_ddr_addr[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_O_ddr_addr[1]" R1;
IO_PORT "io_ddr3_O_ddr_addr[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_O_ddr_addr[0]" N1;
IO_PORT "io_ddr3_O_ddr_addr[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_O_ddr_odt" J1;
IO_PORT "io_ddr3_O_ddr_odt" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_O_ddr_cke" L3;
IO_PORT "io_ddr3_O_ddr_cke" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_O_ddr_we_n" J3;
IO_PORT "io_ddr3_O_ddr_we_n" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_O_ddr_cas_n" H1;
IO_PORT "io_ddr3_O_ddr_cas_n" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_O_ddr_ras_n" H2;
IO_PORT "io_ddr3_O_ddr_ras_n" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_O_ddr_reset_n" N8;
IO_PORT "io_ddr3_O_ddr_reset_n" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_O_ddr_clk" M2,L2;
IO_PORT "io_ddr3_O_ddr_clk" IO_TYPE=LVPECL33E PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_O_ddr_dqm[1]" H9;
IO_PORT "io_ddr3_O_ddr_dqm[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_O_ddr_dqm[0]" F4;
IO_PORT "io_ddr3_O_ddr_dqm[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_IO_ddr_dq[15]" F7;
IO_PORT "io_ddr3_IO_ddr_dq[15]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_IO_ddr_dq[14]" G6;
IO_PORT "io_ddr3_IO_ddr_dq[14]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_IO_ddr_dq[13]" F8;
IO_PORT "io_ddr3_IO_ddr_dq[13]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_IO_ddr_dq[12]" D6;
IO_PORT "io_ddr3_IO_ddr_dq[12]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_IO_ddr_dq[11]" G8;
IO_PORT "io_ddr3_IO_ddr_dq[11]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_IO_ddr_dq[10]" H6;
IO_PORT "io_ddr3_IO_ddr_dq[10]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_IO_ddr_dq[9]" H8;
IO_PORT "io_ddr3_IO_ddr_dq[9]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_IO_ddr_dq[8]" E6;
IO_PORT "io_ddr3_IO_ddr_dq[8]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_IO_ddr_dq[7]" K6;
IO_PORT "io_ddr3_IO_ddr_dq[7]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_IO_ddr_dq[6]" K8;
IO_PORT "io_ddr3_IO_ddr_dq[6]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_IO_ddr_dq[5]" J5;
IO_PORT "io_ddr3_IO_ddr_dq[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_IO_ddr_dq[4]" K7;
IO_PORT "io_ddr3_IO_ddr_dq[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_IO_ddr_dq[3]" G5;
IO_PORT "io_ddr3_IO_ddr_dq[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_IO_ddr_dq[2]" L8;
IO_PORT "io_ddr3_IO_ddr_dq[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_IO_ddr_dq[1]" J6;
IO_PORT "io_ddr3_IO_ddr_dq[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_IO_ddr_dq[0]" G4;
IO_PORT "io_ddr3_IO_ddr_dq[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_IO_ddr_dqs[1]" H7,G7;
IO_PORT "io_ddr3_IO_ddr_dqs[1]" IO_TYPE=LVPECL33E PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_ddr3_IO_ddr_dqs[0]" J4,H4;
IO_PORT "io_ddr3_IO_ddr_dqs[0]" IO_TYPE=LVPECL33E PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_jtag_tdo" J10;
IO_PORT "io_jtag_tdo" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_jtag_tck" H12;
IO_PORT "io_jtag_tck" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "io_jtag_tdi" H10;
IO_PORT "io_jtag_tdi" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "io_jtag_tms" H11;
IO_PORT "io_jtag_tms" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "io_axiClk" P16;
IO_PORT "io_axiClk" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "io_asyncReset" PULL_MODE=NONE BANK_VCCIO=3.3;
