IO_LOC "clk50" P16;
IO_PORT "clk50" IO_TYPE=LVCMOS33;
IO_LOC "rst" U4;
IO_PORT "rst" IO_TYPE=LVCMOS15;
IO_LOC "sdram_clock" V23;
IO_PORT "sdram_clock" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;
IO_LOC "serial_rx" B21;
IO_PORT "serial_rx" IO_TYPE=LVCMOS33;
IO_LOC "serial_tx" A20;
IO_PORT "serial_tx" IO_TYPE=LVCMOS33;
IO_LOC "led_n0" J14;
IO_PORT "led_n0" IO_TYPE=LVCMOS33;
IO_LOC "led_n1" R26;
IO_PORT "led_n1" IO_TYPE=LVCMOS33;
IO_LOC "led_n2" L20;
IO_PORT "led_n2" IO_TYPE=LVCMOS33;
IO_LOC "led_n3" M25;
IO_PORT "led_n3" IO_TYPE=LVCMOS33;
IO_LOC "led_n4" N21;
IO_PORT "led_n4" IO_TYPE=LVCMOS33;
IO_LOC "led_n5" N23;
IO_PORT "led_n5" IO_TYPE=LVCMOS33;
IO_LOC "sdram_a[0]" V19;
IO_PORT "sdram_a[0]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_a[1]" W19;
IO_PORT "sdram_a[1]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_a[2]" U22;
IO_PORT "sdram_a[2]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_a[3]" V22;
IO_PORT "sdram_a[3]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_a[4]" Y25;
IO_PORT "sdram_a[4]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_a[5]" AA25;
IO_PORT "sdram_a[5]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_a[6]" AA24;
IO_PORT "sdram_a[6]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_a[7]" AB25;
IO_PORT "sdram_a[7]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_a[8]" AB26;
IO_PORT "sdram_a[8]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_a[9]" AC26;
IO_PORT "sdram_a[9]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_a[10]" Y20;
IO_PORT "sdram_a[10]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_a[11]" U25;
IO_PORT "sdram_a[11]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_a[12]" U24;
IO_PORT "sdram_a[12]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[0]" U16;
IO_PORT "sdram_dq[0]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[1]" V16;
IO_PORT "sdram_dq[1]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[2]" U15;
IO_PORT "sdram_dq[2]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[3]" V17;
IO_PORT "sdram_dq[3]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[4]" W21;
IO_PORT "sdram_dq[4]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[5]" Y21;
IO_PORT "sdram_dq[5]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[6]" P21;
IO_PORT "sdram_dq[6]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[7]" U17;
IO_PORT "sdram_dq[7]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[8]" P25;
IO_PORT "sdram_dq[8]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[9]" W23;
IO_PORT "sdram_dq[9]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[10]" T25;
IO_PORT "sdram_dq[10]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[11]" R25;
IO_PORT "sdram_dq[11]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[12]" R23;
IO_PORT "sdram_dq[12]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[13]" T23;
IO_PORT "sdram_dq[13]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[14]" P24;
IO_PORT "sdram_dq[14]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[15]" P23;
IO_PORT "sdram_dq[15]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_ba[0]" V26;
IO_PORT "sdram_ba[0]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_ba[1]" W20;
IO_PORT "sdram_ba[1]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_cas_n" W26;
IO_PORT "sdram_cas_n" IO_TYPE=LVCMOS33;
IO_LOC "sdram_cs_n" U26;
IO_PORT "sdram_cs_n" IO_TYPE=LVCMOS33;
IO_LOC "sdram_ras_n" W25;
IO_PORT "sdram_ras_n" IO_TYPE=LVCMOS33;
IO_LOC "sdram_we_n" Y26;
IO_PORT "sdram_we_n" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dm[0]" L22;
IO_PORT "sdram_dm[0]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dm[1]" M24;
IO_PORT "sdram_dm[1]" IO_TYPE=LVCMOS33;
IO_LOC "lcd_b[0]" H19;
IO_PORT "lcd_b[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_b[1]" J19;
IO_PORT "lcd_b[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_b[2]" G25;
IO_PORT "lcd_b[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_b[3]" H18;
IO_PORT "lcd_b[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_b[4]" J18;
IO_PORT "lcd_b[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_b[5]" K17;
IO_PORT "lcd_b[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_g[0]" J16;
IO_PORT "lcd_g[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_g[1]" K15;
IO_PORT "lcd_g[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_g[2]" F22;
IO_PORT "lcd_g[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_g[3]" G22;
IO_PORT "lcd_g[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_g[4]" G21;
IO_PORT "lcd_g[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_g[5]" G20;
IO_PORT "lcd_g[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_r[0]" F20;
IO_PORT "lcd_r[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_r[1]" G19;
IO_PORT "lcd_r[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_r[2]" F19;
IO_PORT "lcd_r[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_r[3]" F18;
IO_PORT "lcd_r[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_r[4]" M17;
IO_PORT "lcd_r[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_r[5]" M16;
IO_PORT "lcd_r[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_de" A24;
IO_PORT "lcd_de" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_clk" H21;
IO_PORT "lcd_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_hsync_n" E16;
IO_PORT "lcd_hsync_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_vsync_n" G17;
IO_PORT "lcd_vsync_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "joypad_in_data" E25;
IO_PORT "joypad_in_data" IO_TYPE=LVCMOS33;
IO_LOC "joypad_out_clk" H14;
IO_PORT "joypad_out_clk" IO_TYPE=LVCMOS33;
IO_LOC "joypad_out_load" L17;
IO_PORT "joypad_out_load" IO_TYPE=LVCMOS33;
IO_LOC "joypad2_in_data" D25;
IO_PORT "joypad2_in_data" IO_TYPE=LVCMOS33;
IO_LOC "joypad2_out_clk" H15;
IO_PORT "joypad2_out_clk" IO_TYPE=LVCMOS33;
IO_LOC "joypad2_out_load" L18;
IO_PORT "joypad2_out_load" IO_TYPE=LVCMOS33;
IO_LOC "atkms7620_sda" A18;
IO_PORT "atkms7620_sda" IO_TYPE=LVCMOS33;
IO_LOC "atkms7620_scl" A19;
IO_PORT "atkms7620_scl" IO_TYPE=LVCMOS33;
IO_LOC "buzzer_out_pwm" R17;
IO_PORT "buzzer_out_pwm" IO_TYPE=LVCMOS33;
IO_LOC "spisdcard_clk" D23;
IO_PORT "spisdcard_clk" IO_TYPE=LVCMOS33;
IO_LOC "spisdcard_mosi" D24;
IO_PORT "spisdcard_mosi" IO_TYPE=LVCMOS33;
IO_LOC "spisdcard_cs_n" B25;
IO_PORT "spisdcard_cs_n" IO_TYPE=LVCMOS33;
IO_LOC "spisdcard_miso" H23;
IO_PORT "spisdcard_miso" IO_TYPE=LVCMOS33;
//INS_LOC "PLL" PLL_R[0]